
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Event Management</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    <h1 style="font-size:26px;">Event Management</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <ul style="list-style:none;">
                        <li style="float:left; width:200px;  color:black;"><a href="/EventManagement/Index">See all</a></li>
                        <li style="float:left; width:200px;  color:black;"><a href="/EventManagement/EditEvent">Create new event</a></li>
                    </ul>
                </td>
                </tr>
            <tr>
                <td>
                    <p>Welcome to the Event Management web application.</p>
                    <p>You can navigate to the different sections of the web application using the menu above</p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
